<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Actividad</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        h1 {
            background-color: #333;
            color: white;
            padding: 10px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #fff;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Lista de Actividades Registradas</h1>
    <ul>
        {% for activity in activity %}
            <li>{{ activity }}</li>
        {% endfor %}
    </ul>
</body>
</html>
