<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Crear Actividades</title>
    <!-- Incluir los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% block content %}
    <h1>Formulario para crear nueva actividad</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger">Guardar</button>
    </form>
    {% endblock %}
</body>
</html>
