<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tareas</title>

    </head>
<body>
    <h1>Lista de tareas registradas</h1>
    {% for task in task %}
    <h1>{{ task.texto }}</h1>
    {% endfor %}

    </body>


</html>